@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700;900&family=Poppins:wght@200;300;400;600&family=Quicksand:wght@300;400;500;600;700&family=Urbanist:wght@300;400;500;600;700;800;900&display=swap");

/* base rule  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
  }
  
  html {
    font-size: 62.5%;
    /* 1rem = 10px  */
    /* scroll-behavior: smooth; */
    scroll-snap-type: Y proximity;
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins", sans-serif;
  }

  p,
  li,
  a,
  label {
    font-family: "Urbanist", sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: var(--para-color);
    line-height: 1.5;
  }

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* theme */
:root {
    --main-color: #0062ff;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    /* --bg-color: #ffffff; */
    --bg-color: #f7fcff;
    --heading-color: #000a19;
    --hero-heading-color: #003b99;
    --white-color: #ffffff;
    --para-color: #504e4d;
    --bnt-hover-bg-color: #003b99;
    --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --footer-bg-color: #040d12;
  }


/* Layout */
.container{
    max-width: 142rem;
    margin: 0 auto;
    padding: 9.5rem 2.4rem;
}




/* Navbar section */
.section-navbar{
    width: 100%;
    box-shadow: rgba(0,0,0,0.5) 0px 6px 24px 0px,
    rgba(0,0,0,0.08) 0px 0px 0px 1px,
}


.section-navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 0;
}




.section-navbar .navbar ul{
    display: flex;
    gap: 3.2rem;
    text-transform: capitalize;

}
